.rotated-bg {
    position: relative;
    overflow: hidden; /* Ensure the rotated background doesn’t spill out */
}

.rotated-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/images/bg-abstract-flame-orange.jpeg');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg); /* Rotate background */
    transform-origin: center;
    z-index: -1; /* Keep it behind content */
}

.bg-flame-orange {
    background-image: url('./assets/images/bg-abstract-flame-orange.jpeg');
    background-size: cover;
    background-position: center;
}


.markdown {
    text-align: justify;
}

.markdown h2 {
    font-weight: 700;
    font-size: 16px;
}

.markdown h3 {
    font-weight: 600;
    font-size: 15px;
}

.markdown p {
    font-weight: 300;
    font-size: 14px;
}

.markdown ul {
    padding: 6px;
    list-style: square;
    font-weight: 300;
    font-size: 14px;
    gap: 3px;
}

.markdown p > video {
        width: 100%;
        max-height: 250px ;
        border-radius: 1rem;
        -webkit-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
}

@media (min-width: 768px) {
    .markdown {
        text-align: justify;
    }

    .markdown h2 {
        font-weight: 700;
        font-size: 20px;
    }

    .markdown h3 {
        font-weight: 600;
        font-size: 19px;
    }

    .markdown p {
        font-weight: 300;
        font-size: 18px;
    }

    .markdown ul {
    padding: 6px;
    list-style: square;
    font-weight: 300;
    font-size: 18px;
    gap: 3px;
    }

    .markdown p > video {
        max-height: 380px ;
    }

}